body {
    margin: 15px 15px 15px 15px;
}
.layuimini-tab .layui-tab-title {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}
.layuimini-container {
    border: 1px solid;
    border-radius: 5px;
}

.layuimini-main {
    margin: 10px 10px 10px 10px;
}

/**必填红点 */
.layuimini-form > .layui-form-item > .required:after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}

.layuimini-form > .layui-form-item > .layui-form-label {
    width: 120px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block {
    margin-left: 150px !important;
}

.layuimini-form > .layui-form-item > .layui-input-block > tip {
    display: inline-block;
    margin-top: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #a29c9c;
}

/**搜索框*/
.layuimini-container .table-search-fieldset {
    margin: 0;
    border: 1px solid;
    padding: 10px 20px 5px 20px;
    color: #6b6b6b;
}

/**自定义滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9da0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}

.control-container {
    display: flex; /* 启用flex布局 */
    align-items: center; /* 垂直居中对齐子元素 */
    gap: 15px; /* 在子元素之间添加一些间隙 */
}
#img-preview{
    overflow-x: auto; 
}

.control-label {
    margin: 0; /* 如果需要，去除外边距 */
    white-space: nowrap; /* 防止标签换行 */
}

#Scale-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Steps-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#image-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Width-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Height-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Content-Strength-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Strength-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Rescale-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
#Noise-input {
    flex-grow: 1; /* 允许滑动输入元素占据剩余空间 */
}
.generate-container {
    display: flex; /* 启用Flexbox布局 */
    align-items: center; /* 垂直居中子元素 */
}

#generate-images {
    flex-grow: 1; 
}
#generate-images2 {
    flex-grow: 1; 
}
.image-preview-container {
    position: relative;
    display: inline-block; /* 或者其他适合您布局的display类型 */
}

#delete-image-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 5px;
}
.canvas-container {
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#tagselect {
    min-height: 35px;
}

#Tag_Sarch_div{
    gap: 1px; /* 在子元素之间添加一些间隙 */
}


.image-preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 使图片靠左对齐 */
    gap: 10px; /* 可选，设置图片之间的间距 */
}

#sampling-algorithm_and_seed {
    display: flex; /* 启用flex布局 */
    flex-wrap: nowrap; /* 禁止换行 */
    align-items: center; /* 对齐项目在交叉轴上的中点，使标签与输入框垂直居中对齐 */
    gap: 10px; /* 设置元素之间的间距 */
}

#resolution_and_AAA {
    display: flex; /* 启用flex布局 */
    flex-wrap: nowrap; /* 禁止换行 */
    align-items: center; /* 对齐项目在交叉轴上的中点，使标签与输入框垂直居中对齐 */
    gap: 10px; /* 设置元素之间的间距 */
}
.image-container-draw {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

/* 媒体查询，针对小屏幕设备 */
@media (max-width: 600px) {
    #generate-images-bth {
      position: fixed; /* 固定位置 */
      left: 0; /* 左对齐 */
      bottom: 0; /* 底部对齐 */
      width: 100%; /* 宽度为100% */
      padding: 10px 0; /* 上下内边距 */
      box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* 添加阴影效果 */
      z-index: 1000; /* 确保悬浮层位于其他内容之上 */
    }
  
    #generate-images {
      width: calc(100% - 20px); /* 考虑到容器的内边距 */
      margin: 0 auto; /* 在容器中居中 */
    }
  }

  #custom-context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    padding: 10px 0;
    background: #484848;
    border: solid 1px #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #aaa;
}
#custom-context-menu li {
    padding: 5px 10px;
    list-style: none;
    cursor: pointer;
}
#custom-context-menu li:hover {
    background-color: #646464;
}

.custom-layer-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; /* 添加相对定位 */
}
.custom-sidebar {
    max-width: 130px;
    background: #333333;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0; /* 防止侧边栏被压缩 */
}
.custom-sidebar button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border: none;
    background: #212121;
    transition: background 0.3s ease;
    font-size: 14px; /* 默认字体大小 */
}
.custom-sidebar button:hover {
    background: #ccc;
}
.custom-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute; /* 使用绝对定位 */
    left: 150px; /* 左边距等于侧边栏的宽度 */
    right: 10px;
    top: 0;
    bottom: 0;
}
.custom-text-box {
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
    overflow: auto;
    font-size: 16px;
}

/* 媒体查询，适应小屏幕设备 */
@media (max-width: 600px) {
    #sidebar {
        width: 100px; /* 缩小侧边栏宽度 */
    }
    #sidebar button, .text-box {
        font-size: 12px; /* 缩小字体大小 */
    }
}

/* CSS 媒体查询，适用于屏幕宽度小于768px的设备 */
@media only screen and (max-width: 768px) {
    /* 设置.layui-text的字体大小为11px */
    .layui-text {
        font-size: 11px;
    }

    /* 设置.layui-btn-sm的字体大小为10px */
    .layui-btn-sm {
        font-size: 10px;
    }

    /* 设置.layui-form-checkbox > div的字体大小为12px */
    .layui-form-checkbox > div {
        font-size: 12px;
    }
    .line-wrap {
        flex-wrap: wrap;
    }
}
