<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login🎨</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_styles.css') }}">
 </head>
 <body>
    <div class="box">
        <h2>大图功能页</h2>
        <div class="input-box">
            <label>NovelAI官方Token或自定义密钥</label>
            <input name="Password" placeholder="Bearer pst-XXXXXXXX" type="password">
        </div>
        <div class="btn-box">
            <div>
                <button id="log-in">验证</button>
            </div>
        </div>
        <div class="info">
            <h3>🥭🍒🫒🫐🧁🍬🍈🥝🌶️🍜🍡</h3>
        </div>
    </div>
  <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/loginscript.js') }}"></script>
 </body>
</html>